﻿

body {
    background-color: #e2e2e2;
    border-top: 10px solid #000;
    color: #333;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}


a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

   

.navbar {
    float: left;
    background-color:#f2f2f2;
    position:relative;
    padding-top:12px;
}
header .content-wrapper {
    padding-top: 20px;
    margin-top: -10px;
}
.content-wrapper {
    margin: 0 auto;
    max-width: 100%;
    height: 80px;
    background-color:#fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
   
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.navbar-header a {
    font-size: large;
    font-weight: 600;
    background: none;
    color: #5c665e;
    text-decoration: none;
    text-align: left;
}
.navbar-nav {
    height: 2000px;
}
ul.navbar {
    font-size: larger;
    font-weight: bold;
    margin: 0 10px 5px;
    padding: 30px 19px;
    text-align: left;
    
}
    .navbar li {
    display:block;
    list-style: none;
    padding:5px;
    border-bottom: 1px solid grey;
    }

        .navbar li a {
            background: none;
            color: #5c665e;
            text-decoration: none;
            font-size: large;
            font-weight: 600;
        }
h1, h2, h3, h4, h5, h6 {
    color:#5c665e;
    margin-bottom:0;
    padding-bottom:0;
}
h1{
    font-size:2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.1em;
}
h5,h6 {
    font-size: 1em;
}

footer p {
    float: right;
}

html {
    background-color: #e2e2e2;
}
hr {
    border-top: none;
}
    table{
    border:none;
}


table > thead > tr > th, table > tbody > tr > th, 
table > tfoot > tr > th, table > thead > tr > td, 
table > tbody > tr > td, table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border:none;
    border-bottom: 1px solid grey;
}

a, a:visited {
    outline: none;
    color: grey;
    text-decoration: none;
    
    text-align: center;
}


/* Set padding to keep content from hitting the edges */
    .body-content {
    margin-top:12px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
nav {
    margin-bottom: 5px;
}

    .navbar li {
        margin: 0;
        padding: 0;
    }
