﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><a href="/" style="position: relative;left:17px;bottom:10px; "><img src="Images/logo.jpg"></a></p>
            </div>

        </div>
    </header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="float-left">
                <ul class="nav navbar-nav">
                    <li><a href="http://mercktools.mahstaging.net">Home</a></li>
                    <li><a href="http://mercktools.mahstaging.net/matrix">Matrix Tool</a></li>
                    <li><a href="http://mercktools.mahstaging.net/meta">Metatag<br /> Images Checker</a></li>
                    <li><a href="http://mercktools.mahstaging.net/robot">Robots.txt<br />Checker</a></li>
                    <li><a href="http://jiratracker.mahstaging.net">Task Tracker</a></li>
                    <li class="dropdown">@Html.ActionLink("Test Site", "Index", "Home")
                                        <ul class="dropdown-content">
                                            <li>@Html.ActionLink("Reservations", "Index", "reservations")</li>
                                            <li>@Html.ActionLink("Users", "Index", "users")</li>
                                            <li>@Html.ActionLink("Sites", "Index", "sites")</li>
                                            <li>@Html.ActionLink("Servers", "Index", "servers")</li>
                                        </ul>
                                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/reservation.js")
    @RenderSection("scripts", required: false)
</body>
</html>