﻿@model IEnumerable<TestSiteAdmin.Models.Reservacion>
@{
    DateTime formattedDate = DateTime.Now;
}
<div class="row">
    <h1>Active Reservations</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>Site</th>            
            <th>Name</th>
            <th>Description</th>            
            <th>User</th>
            <th>Start Date<br /><em>(dd/mm/yyyy)</em></th>
            <th>End Date<br /><em>(dd/mm/yyyy)</em></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.site)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.user_name)
                </td>
                <td>
                    @{ formattedDate = (DateTime)item.start_date; }
                    @formattedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @{ formattedDate = (DateTime)item.end_date; }
                    @formattedDate.ToString("dd/MM/yyyy")
                </td>
            </tr>
                        }
    </table>
</div>

