﻿@model IEnumerable<TestSiteAdmin.Models.Sitio>

<div class="row">
    <h1>Available Sites</h1>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/reservations/Create/@item.id">@Html.DisplayFor(modelItem => item.name)</a>
                </td>
            </tr>
        }
    </table>
</div>

