﻿@model TestSiteAdmin.Models.reservation

@{
    ViewBag.Title = "Create";
}

<h2>Create a new Reservation</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="name">Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required="required" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Start Date<br /><em>(dd/mm/yyyy)</em></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="The field end_date must be a date." id="start_date" name="start_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date">
                <span class="field-validation-valid text-danger" data-valmsg-for="start_date" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="name">End Date<br /><em>(dd/mm/yyyy)</em></label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="The field end_date must be a date." id="end_date" name="end_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date">
                <span class="field-validation-valid text-danger" data-valmsg-for="end_date" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group" id="overlapExists" style="display:none;">
            <div class="col-md-12">
                <span class="field-validation-valid text-danger">The specified period overlaps with an existing reservation</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Bussiness Owner Mail</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.bo_mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bo_mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Agency Mail</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.agency_mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agency_mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="name">User</label>
            <div class="col-md-10">
                @Html.DropDownList("id_user", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_user, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Site</label>
            <div class="col-md-10">
                @Html.DropDownList("id_site", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_site, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
