﻿@model IEnumerable<TestSiteAdmin.Models.Reservacion>


@{
    ViewBag.Title = "Index";
    DateTime formattedDate = DateTime.Now;
}

<h2>Reservations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Site Name
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Start Date<br /><em>(dd/mm/yyyy)</em>
        </th>
        <th>
            End Date<br /><em>(dd/mm/yyyy)</em>
        </th>
        <th>
            BO Mail
        </th>
        <th>
            Agency Mail
        </th>
        <th>
            User Name
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @{ formattedDate = (DateTime)item.start_date; }
                @formattedDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @{ formattedDate = (DateTime)item.end_date; }
                @formattedDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bo_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agency_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_name)
            </td>            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |                
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
                    }

</table>
